:root {
    --palette1-a: #67ab23;
    --palette1-b:#93de89;
    --palette1-c: #fdc021;
    --palette1-d:#d5290d;
    --palette1-e:#559984;
    --palette2-a: #6c4967; 
    --palette2-b: #141623;
    --palette2-c: #40251a;
    --palette2-d: #d2cfa6;
    --palette2-e: #989544;
    --palette3-a: #b3334e;
    --palette3-b: #ced2bc;
    --palette3-c: #ecdadc;
    --palette3-d: #b07451;
    --palette3-e: #9cbc4e;
  } 

