.containerwrap {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.container {
    padding: 0;
    margin: 0;
}
#vegibaskah {
    width: 67.5px;
    height: 50px;
}

#imageBox {
    width: 100%px;
    height: 100%px;
    background-color:  #559984;
}

.borders {
    background-image: url(vegibask500.jpg);
    height: 10px;
    opacity: .7;
}

.border-wrapper {
    margin-left: 15px;
    margin-right: 15px;
}

p#pageTitle {
    font-family: 'Indie Flower', 'cursive';
    margin-top: 15px;
    font-size: 45px;

    
}
div#Color1 {
    box-sizing: border-box;
    Width: 100%;
   
    background-color: #d5290d;
    padding: 0px;
    margin: 0px;
}

div#Color2 {
    box-sizing: border-box;
    Width: 100%;
   
    background-color: #fdc021;
    padding: 0px;
    margin: 0px;
    margin-right:0px;
    align-content: center;
}

div#Color3 {
    box-sizing: border-box;
    Width: 100%;
   
    background-color:#6c4967 ;
    padding: 0px;
    margin: 0px;
}
div.imageAlign {
    text-align: center;
    padding:0px;
    margin: 0px;
    width:100%;
    height:50px;
}

#titleCol {
    padding-right: 0px;
    text-align: center;
}

#homeBtnCol {
    padding-left: 15px;
    margin-left: 0px;
    margin-right: 3px;

}

h5.card-title {
    text-align: center;
}

.subtitle {
    font-family: 'Roboto Condensed', 'sans-serif';
    color: white;
    text-align: center;
    border-bottom: 2px white solid;
}

p.card-text {
    font-size: 16px;
}

div#dbPopAh.jumbotron {
    background-color:#559984;
    opacity: .7;
    margin: 0px auto;
    height: auto;
    

}