#root, div {
	padding: 0
}

.card.customCard {	
	margin: 0 auto;
	margin-top: 3%;
	margin-bottom: 3%;
	margin-left: 3%;
	margin-right: 3%;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	text-align: center;
}

.card-body {
	padding-top: 2%;
	padding-bottom: 4%;
}

.card-img-top {
	margin-top: 4%;
	padding: 3px;
	width: 100%; 
	/* border-color: black; */
	/* border-style: solid; */
	/* border-width: 1px; */
}

h5.card-title {
	font-size: 20px;
}

/* button.btn.btn-secondary {
	font-size: 24px;
	width: 100%;
} */

/* @media screen and (max-width: 250px) {
	
	button.btn.btn-secondary { 
	width: 100%;
	color: red;
}} */